<div id="JAVASCRIPT Introduction" class="tabcontent">
    <H1>
        <font color="green">JAVASCRIPT Introduction</font>
    </H1>
    <h4> JavaScript is an object-based client-side scripting language that is popular and used to create dynamic and
        interactive web pages.<BR><br> Javascript is an interpreted language usually used with HTML, and programs
        written in
        JavaScript are called lightweight scripts.<BR><br>

        Earlier, JavaScript was named LiveScript, but later, Netscape changed its name to JavaScript because its
        origin was from Java which was very popular at that time.<BR><br>
        <hr color="white"> JavaScript released its first look for Netscape
        2.0 under the name "LiveScript" in 1995.<br><br> JavaScript (js) is a light-weight object-oriented programming
        language which is used by several websites for scripting the webpages.<br><br> It is an interpreted,
        full-fledged
        programming language that enables dynamic interactivity on websites when applied to an HTML document.<br><br> It
        was
        introduced in the year 1995 for adding programs to the webpages in the Netscape Navigator browser.<br><br> Since
        then, it has been adopted by all other graphical web browsers.<br><br> With JavaScript, users can build modern
        web
        applications to interact directly without reloading the page every time. <br><br>The traditional website uses js
        to
        provide several forms of interactivity and simplicity.<br><br>

    </h4>
    <div id="JAVASCRIPT History" class="tabcontent">

        <h1>
            <font color="green">JAVASCRIPT HISTORY.</font>
        </h1>
        <h4> JavaScript language comes from the times when early web browsers were being developed. Netscape
            Communications company in 1994 created Netscape Navigator that became the most popular web browser in the
            90s.<br>

            Company’s board quickly realized that browsers should allow create more dynamic websites and do some
            activities that do server-side languages, like input validation. First Netscape Communications cooperate
            with Sun Microsystems to use in Netscape Navigator Sun’s programming language Java. Then they wanted
            adopting and embedding a existing programming language like Scheme, Perl or Python. Eventually they decided
            to create scripting language that would complement Java and has a similar syntax.<br>

            In 1995 Netscape Communications employed Brendan Eich to develop scripting language for web browser.
            <hr color="white"> Eich prepared it in a very short time. First version of new language had Mocha name,
            whereas official version used in Netscape Navigator 2 beta version was called LiveScript. In the same 1995
            year new developed scripting language was renamed to JavaScript and used in next beta version of Netscape
            Navigator 2. LiveScript followed a lot of Java features. This, but above all the desire to use the growing
            popularity of Java to call positive associations with a new language where reasons that it was finally
            called JavaScript. Also implementation of the language for server-side was introduced.<br>

            JavaScript 1.0 was a success and helped Netscape Navigator’s to hold the leader position of the market. Soon
            JavaScript 1.1 was released in Netscape Navigator 3.<br>

            <hr color="white"> this time Microsoft to compete with Netscape decided to include scripting technologies in
            their browser. In 1996 they released Internet Explorer 3 with their own implementation of JavaScript called
            JScript.<br>

            Since that time there were two versions of JavaScript. This brought a compatibility issues. Industry needs
            caused that decided to standardize language. Netscape submitted JavaScript to Ecma International to
            “standardize the syntax and semantics of a general purpose, cross-platform, vendor-neutral scripting
            language”. In 1997 was published the language specification called ECMAScript as a ECMA-262 standard. Other
            browser vendors could use this specification to prepare their implementation.
        </h4>
    </div>
    <div id="JAVASCRIPT Versions" class="tabcontent">

        <h1>
            <font color="green">JAVASCRIPT VERSION.</font>
        </h1>
        <p>

            <head>
                <style>
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    td,
                    th {
                        border: 1px solid white;
                        text-align: left;
                        padding: 8px;
                        color: white;
                        background-color: #151212;
                    }
                </style>
            </head>

            <body>

                <h2>Javascript Versions</h2>

                <table>
                    <tr>
                        <th>Ver</th>
                        <th>Official name</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>ES1</td>
                        <td>ECMAScript 1 (1997)</td>
                        <td>First edition</td>
                    </tr>
                    <tr>
                        <td>ES2</td>
                        <td>ECMAScript 2 (1998)</td>
                        <td>Editorial changes</td>
                    </tr>
                    <tr>
                        <td>ES3</td>
                        <td>ECMAScript 3 (1999)</td>
                        <td>Added regular expressions<br>
                            Added try/catch<br>
                            Added switch<br>
                            Added do-while</td>
                    </tr>
                    <tr>
                        <td>ES4</td>
                        <td>ECMAScript 4</td>
                        <td>Never released</td>
                    </tr>
                    <tr>
                        <td>ES5</td>
                        <td>ECMAScript 5 (2009)</td>
                        <td>Added "strict mode"<br>
                            Added JSON support<br>
                            Added string.trim()<br>
                            Added array.isarray()<br>
                            Added array iteration methods<br>
                            Allows trailing commas for object literals</td>
                    </tr>
                    <tr>
                        <td>ES6</td>
                        <td>ECMAScript 2015</td>
                        <td>Added let and const<br>
                            Added default parameter values<br>
                            Added array.find()<br>
                            Added array.findIndex() </td>
                    </tr>
                    <tr>
                        <td>ES6</td>
                        <td>ECMAScript 2016</td>
                        <td>Added exponential operator(**)<br>
                            Added array.includes() </td>
                    </tr>
                    <tr>
                        <td>ES6</td>
                        <td>ECMAScript 2017</td>
                        <td>Added string padding<br>
                            Added object.entries()<br>
                            Added object.values()<br>
                            Added async functions<br>
                            Added shared memory
                            Allows trailing commas for function parameters</td>
                    </tr>
                    <tr>
                        <td>ES6</td>
                        <td>ECMAScript 2018</td>
                        <td>Added rest/spread properties<br>
                            Added asynchronous iteration<br>
                            Added promise.finally()<br>
                            Additions to RegExp</td>
                    </tr>
                    <tr>
                        <td>ES6</td>
                        <td>ECMAScript 2019</td>
                        <td>String.trimStart()<br>
                            String.trimEnd<br>
                            Array.flat()<br>
                            Object.fromEntries<br>
                            Optional catch binding</td>
                    </tr>
                    <tr>
                        <td>ES6</td>
                        <td>ECMAScript 2020</td>
                        <td>The Nullish Coalescing Operator(??)</td>
                    </tr>

                </table>

            </body>
        </p>
    </div>

    <div id="JAVASCRIPT Features" class="tabcontent">


        <h1>
            <font color="green">JAVASCRIPT FEATURES.</font>
        </h1>
        <h4>JavaScript is one of the most popular languages which includes numerous features when it comes to web
            development. It's amongst the top programming languages as per Github and we must know the features of
            JavaScript properly to understand what it is capable of.

            Some of the features are lightweight, dynamic, functional and interpreted. Now we are going to discuss some
            important features of JavaScript.<br>
            <hr color="white">
            Light Weight Scripting language

            Dynamic Typing<br><br>

            Object-oriented programming support<br><br>

            Functional Style<br><br>

            Platform Independent<br><br>

            Prototype-based<br><br>

            Interpreted Language<br><br>

            Async Processing<br><br>

            Client-Side Validation<br><br>


            More control in the browser<br>
        </h4>
    </div>


    <div id="JAVASCRIPT Event" class="tabcontent">

        <h1>
            <font color="green">JAVASCRIPT EVENTS.</font>
        </h1>
        <p>

            <head>
                <style>
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    td,
                    th {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }

                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                </style>
            </head>

            <body>

                <h2>Mouse Event</h2>

                <table>
                    <tr>
                        <th>Event</th>
                        <th>Occurs When</th>
                    </tr>
                    <tr>
                        <td>Onclick</td>
                        <td>A user clicks on an element.</td>
                    </tr>
                    <tr>
                        <td>Oncontextmenu</td>
                        <td>A user right-clicks on an element.</td>
                    </tr>
                    <tr>
                        <td>Ondblclick</td>
                        <td>A user double-clicks on an element.</td>
                    </tr>
                    <tr>
                        <td>Onmousedown</td>
                        <td>A mouse button is pressed over an element.</td>
                    </tr>
                    <tr>
                        <td>Onmousemove</td>
                        <td>The mouse pointer moves over an element.</td>
                    </tr>
                    <tr>
                        <td>Onmouseout</td>
                        <td>The mouse pointer moves out of an element.</td>
                    </tr>
                    <tr>
                        <td>Onmouseup</td>
                        <td>The mouse button is released over an element.</td>
                    </tr>
                </table><br>

                <h2>Keyboard Event</h2>

                <table>
                    <tr>
                        <th>Event</th>
                        <th>Occurs When</th>
                    </tr>
                    <tr>
                        <td>Onkeydown</td>
                        <td>A user presses a key.</td>
                    </tr>
                    <tr>
                        <td>Onkeypress</td>
                        <td>A user presses a key.</td>
                    </tr>
                    <tr>
                        <td>Onkeyup</td>
                        <td>A user releases a key.</td>
                    </tr>
                </table>

                <h2>form Event</h2>

                <table>
                    <tr>
                        <th>Event</th>
                        <th>Occurs When</th>
                    </tr>
                    <tr>
                        <td>Onfocus</td>
                        <td>When the user focuses on an element.</td>
                    </tr>
                    <tr>
                        <td>Onsubmit</td>
                        <td>When the user submits the form.</td>
                    </tr>
                    <tr>
                        <td>Onblur</td>
                        <td>When the focus is away from a form element.</td>
                    </tr>
                    <tr>
                        <td>Onchange</td>
                        <td>When the user modifies or changes the value of form element.</td>
                    </tr>
                </table>

                <h2>Window/Document Event</h2>

                <table>
                    <tr>
                        <th>Event</th>
                        <th>Occurs When</th>
                    </tr>
                    <tr>
                        <td>Onload</td>
                        <td>When the browser finishes the loading of the page.</td>
                    </tr>
                    <tr>
                        <td>Onunload</td>
                        <td>When the visitor leaves the current webpage, the browser unloads it.</td>
                    </tr>
                    <tr>
                        <td>Onresize</td>
                        <td>When the visitor resizes the window of the browser.</td>
                    </tr>

                </table>

            </body>
        </p>
    </div>

    <div id="JAVASCRIPT Comment" class="tabcontent">
        <h1>
            <font color="green">COMMENT</font>
        </h1>
        <h4>Single Line Comment.
            Single line comments start with //.<br><br>

            Any text between // and the end of the line will be ignored by JavaScript (will not be executed).<br>

            <br><br>
            <p>Multiple Line Comment.</p><br>
            <p> Multi-line comments start with /* and end with */.<br><br>

                Any text between /* and */ will be ignored by JavaScript.<br><br>


        </h4>

    </div>
    <div id="JAVASCRIPT Dialog Box" class="tabcontent">
        <h2><b>
                <font color="green">DIALOG BOX</font>
            </b></h2>
        <h4><b>Alert Dialog Box.</b><br><br>
            <p>An alert box is often used if you want to make sure information comes through to the user.<br>

                When an alert box pops up, the user will have to click "OK" to proceed.<br><br><br>
                <hr color="white">


            <p><b>Confirm Dialog Box.</b></p><br>
            <p>A confirm box is often used if you want the user to verify or accept something.<br>

                When a confirm box pops up, the user will have to click either "OK" or "Cancel" to proceed.<br>

                If the user clicks "OK", the box returns true. If the user clicks "Cancel", the box returns
                false.<br><br><br>
                <hr color="white">


            <p><b> Dialog Box.</b></p><br>
            <p>The prompt() method displays a dialog box that prompts the user for input.<br>

                The prompt() method returns the input value if the user clicks "OK", otherwise it returns null.<br>
                <hr color="white">
            </h4>
        </div>
        <div id="JAVASCRIPT values" class="tabcontent">
            <h2>
                <font color="green">Javascript values</font>
            </h2>
            <h4><b>JAVASCRIPT VALUES.</b><br><br>
                The JavaScript syntax defines two types of values:<br><br>
    
                <b>1.Fixed values</b><br><br>
                <b>2.Variable values</b><br><br>
                <hr color="white">
    
                <p><b>1.JavaScript Literals-</b><br>
                    Fixed values are called Literals.<br>
                    The two most important syntax rules for fixed values are:-<br>
                    <b>A.Numbers are written with or without decimals:</b><br>
                    <br>
    
                    <b>B.Strings are text, written within double or single quotes:</b><br>
                    <hr color="white">
                <p><b>2.JavaScript variables-</b><br>
                    Variable values are called Variables.<br>
                    In a programming language, variables are used to store data values.<br>
    
                    JavaScript uses the keywords var, let and const to declare variables.<br>
    
                    An equal sign is used to assign values to variables.<br>
            </h4>
        </div>
    
        <div id="JAVASCRIPT  Operator" class="tabcontent">
            <h2>
                <font color="green">Operators</font>
            </h2>
    
            <p>
    
                <head>
                    <style>
                        table {
                            font-family: arial, sans-serif;
                            border-collapse: collapse;
                            width: 100%;
                        }
    
                        td,
                        th {
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                        }
    
                        tr:nth-child(even) {
                            background-color: #dddddd;
                        }
                    </style>
                </head>
    
                <body>
    
                    <h2>Arithmatic Operator</h2>
    
                    <table>
                        <tr>
                            <th>Operator</th>
                            <th>Discription</th>
                        </tr>
                        <tr>
                            <td>+</td>
                            <td>Addition.</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>Subtraction.</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>Multiplication.</td>
                        </tr>
                        <tr>
                            <td>**</td>
                            <td>Exponentiation.</td>
                        </tr>
                        <tr>
                            <td>/</td>
                            <td>Division.</td>
                        </tr>
                        <tr>
                            <td>%</td>
                            <td>Modulus(Division Remainder).</td>
                        </tr>
                        <tr>
                            <td>++</td>
                            <td>Increment.</td>
                        </tr>
                        <tr>
                            <td>--</td>
                            <td>Decrement.</td>
                        </tr>
                    </table><br>
    
                    <h2>Assignment Operator</h2>
    
                    <table>
                        <tr>
                            <th>Operator</th>
                            <th>Example</th>
                        </tr>
                        <tr>
                            <td>=</td>
                            <td>x=y.</td>
                        </tr>
                        <tr>
                            <td>+=</td>
                            <td>x+=y.</td>
                        </tr>
                        <tr>
                            <td>-=</td>
                            <td>x-=y.</td>
                        </tr>
                        <tr>
                            <td>*=</td>
                            <td>x*=y.</td>
                        </tr>
                        <tr>
                            <td>/=</td>
                            <td>x/=y.</td>
                        </tr>
                        <tr>
                            <td>%=</td>
                            <td>x%=y.</td>
                        </tr>
                        <tr>
                            <td>**=</td>
                            <td>x**=y.</td>
                        </tr>
                    </table>
    
                    <h2>Comparison Operator</h2>
    
                    <table>
                        <tr>
                            <th>Operator</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>==</td>
                            <td>Equal To.</td>
                        </tr>
                        <tr>
                            <td>===</td>
                            <td>equal value and equal type.</td>
                        </tr>
                        <tr>
                            <td>!=</td>
                            <td>not equal.</td>
                        </tr>
                        <tr>
                            <td>!==</td>
                            <td>not equal value or not equal type.</td>
                        </tr>
                        <tr>
                            <td>></td>
                            <td>greater than.</td>
                        </tr>
                        <tr>
                            <td>
                                << /td>
                            <td>less than.</td>
                        </tr>
                        <tr>
                            <td>>=</td>
                            <td>greater than or equal to.</td>
                        </tr>
                        <tr>
                            <td>
                                <=< /td>
                            <td>less than or equal to.</td>
                        </tr>
                        <tr>
                            <td>?</td>
                            <td>ternary operator.</td>
                        </tr>
                    </table>
    
                    <h2>Logical operator</h2>
    
                    <table>
                        <tr>
                            <th>Operator </th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>&&</td>
                            <td>logical and.</td>
                        </tr>
                        <tr>
                            <td>||</td>
                            <td>logical or.</td>
                        </tr>
                        <tr>
                            <td>!</td>
                            <td>logical not.</td>
                        </tr>
    
                    </table>
                    <h2>Type operator</h2>
    
                    <table>
                        <tr>
                            <th>Operator </th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>typeof</td>
                            <td>returns the type of a variable.</td>
                        </tr>
                        <tr>
                            <td>instanceof</td>
                            <td>returns true if an object is an instance of an object type.</td>
                        </tr>
                    </table>
    
                    <h2>Bitwise operator</h2>
    
                    <table>
                        <tr>
                            <th>Operator</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>&</td>
                            <td>And.</td>
                        </tr>
                        <tr>
                            <td>|</td>
                            <td>OR.</td>
                        </tr>
                        <tr>
                            <td>~</td>
                            <td>not.</td>
                        </tr>
                        <tr>
                            <td>^</td>
                            <td>XOR.</td>
                        </tr>
                        <tr>
                            <td>
                                <<< /td>
                            <td>left shift.</td>
                        </tr>
                        <tr>
                            <td>>></td>
                            <td>right shift.</td>
                        </tr>
                        <tr>
                            <td>>>></td>
                            <td>unsigned right shift.</td>
                        </tr>
                    </table>
                </body>
            </p>
        </div>